<div class="list row">
    <div class="col-md-6">
      <h4>Test List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let test of tests; let i = index"
          [class.active]="i == currentIndex"
          (click)="setCurrentTest(test, i)"
        >
  
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentTest">
        <h4>Test</h4>
        <div>
          <label><strong>Name:</strong></label> 
        </div>
        <div>
          <label><strong>startDate:</strong></label> 
        </div>
        <div>
          <label><strong>endDate:</strong></label> 
        </div>
        <div>
          <label><strong>intervieweeName:</strong></label>
        </div>
        <div>
          <label><strong>numberOfRuns:</strong></label>
        </div>
  
        <a class="badge badge-warning" routerLink="/tests/">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentTest">
        <br />
        <p>Please click on a test</p>
      </div>
    </div>
  </div>