<h1>Test list</h1>
<input type="button" value="Add" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
        <tr>
            <td>name</td>
            <td>interviewee name</td>
            <td>number of runs</td>
            <td>start date</td>
            <td>end date</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of tests">
            <ng-template [ngIf]="test?.Id != p.Id" [ngIfElse]="edit">
                <td>{{p?.name}}</td>
                <td>{{p?.intervieweeName}}</td>
                <td>{{p?.numberOfRuns}}</td>
                <td>{{p?.startDate}}</td>
                <td>{{p?.endDate}}</td>
                <td>
                    <button class="btn btn-sm btn-primary" (click)="editTest(p)">Edit</button>
                    <button class="btn btn-sm btn-danger" (click)="delete(p)">Delete</button>
                </td>
            </ng-template>
        </tr>
    </tbody>
</table>
 
<!--edit template-->
<ng-template #edit>
    <td>
        <input type="text" [(ngModel)]="test.name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="test.intervieweeName" class="form-control" />
    </td>
    <td>
        <input type="number" [(ngModel)]="test.numberOfRuns" class="form-control" />
    </td> 
    <td>
        <input type="date" [(ngModel)]="test.startDate" class="form-control" />
    </td>
    <td>
        <input type="date" [(ngModel)]="test.endtDate" class="form-control" />
    </td>
    <td>  
        <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
    </td>
</ng-template>
 

<ng-template #create>
    <div class="form-group">
        <label>Name</label>
        <input type="text" [(ngModel)]="test.name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Interviewee name</label>
        <input type="text" [(ngModel)]="test.intervieweeName" class="form-control" />
    </div>
    <div class="form-group">
        <label>Number of runs</label>
        <input type="number" [(ngModel)]="test.numberOfRuns" class="form-control" />
    </div>
    <div class="form-group">
        <label>Start date</label>
        <input type="date" [(ngModel)]="test.startDate" class="form-control" />
    </div>
    <div class="form-group">
        <label>End date</label>
        <input type="date" [(ngModel)]="test.endDate" class="form-control" />
    </div>
    <div>
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
        <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>