<div class="container">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/test/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ test.id }}</p>
    </div>
   
    <div>
        <strong>Name:</strong>
        <p>{{ test.name }}</p>
    </div>
   
    <div>
        <strong>Interviewee Name:</strong>
        <p>{{ test.intervieweeName }}</p>
    </div>
    <div>
        <strong>Number Of Runs:</strong>
        <p>{{ test.numberOfRuns }}</p>
    </div>
   
    <div>
        <strong>Start Date:</strong>
        <p>{{ test.startDate }}</p>
    </div>
   
    <div>
        <strong>End Date:</strong>
        <p>{{ test.endDate }}</p>
    </div>
</div>